body {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	margin-left: 5rem;
	margin-top: 2rem;
}

h1, h2, h3{
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}

p{
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
}

li{
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
}

img {
	max-width: 100%;
	height: auto;
	margin:none;
}

.main-button{
	font-size: .9em;
	color: white;
	background-color: #E93F37;
	border-radius: .25em;
	border-style: none;
	padding: .75em;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.main-button:hover, .main-button:focus{
	color: #E93F37;
	background-color: white; 
	border: none;
}

.next{
	position: absolute;
	right: 5rem;
	margin-top: 1rem;

}

.option{
	margin-right: 1rem;
	margin-top: 0rem;

}

.nav-button{
	align-self: center;
	color: #E93F37;
	background-color: white;
	border: none;
	font-weight: 400;
	font-size: 1.5em;
	padding: 1em;
	padding-right: 2em;
	padding-left: 2em;	
	width: 25%;
	display: inline-block;
}
	


.nav-button:active, .nav-button:hover, .nav-button:focus{
	color: white;
	background-color: #E93F37;
	transition: background-color .5s ease-in;

}
a{
	color: black;

}

a:active, a:hover, a:focus {
	color: #E93F37; 
	text-decoration: none;
}

label {
	font-family: Raleway, sans-serif;
	font-weight: 400;
}

input{
	font-size: 1em;
	font-weight: 300;
	padding-left: 3em;
}

.product-section{
	display: inline;
	font-family: Raleway;
	font-weight: 300;
}

.grid-structure{
	display: flex;
	flex-wrap: wrap; 
}

.column{
	width: 25%; 
	height: 100px; 
	border: 1px solid #000;
}

form{
	display: inline-block;
	padding-right: 2em;
	padding-bottom: 2em;
	padding-top: 2em;

}
/*@media(max-width: 30em){
	form{
		display: inline-block;
	}
}
@media(min-width: : 30em){
	form{
		display: inline;
	}
}
*/


