body {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	margin:0;
}

h1, h2, h3{
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}

p{
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
}
.subP{
	margin-left:1rem;margin-right:1rem;
}

li{
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
}

img {
	max-width: 100%;
	height: auto;
	margin:none;
}

.main-button{
	font-size: .9em;
	color: white;
	background-color: #E93F37;
	border-radius: .25em;
	border-style: none;
	padding: .75em;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.main-button:hover, .main-button:focus{
	color: #E93F37;
	background-color: white; 
	border: none;
}

.next{
	position: absolute;
	right: 5rem;
	margin-top: 2rem;
	margin-bottom: 2rem;

}

.option{
	margin-right: 1rem;
	margin-top: 0rem;

}

.nav-button{
	align-self: center;
	color: #E93F37;
	background-color: white;
	border: none;
	font-weight: 400;
	font-size: 1.5em;
	padding: 1em;
	padding-right: 5%;
	padding-left: 5%;	
	width:23%;
	display: inline-block;
/*	margin:auto;*/
}
	


.nav-button:active, .nav-button:hover, .nav-button:focus{
	color: white;
	background-color: #E93F37;
	transition: background-color .5s ease-in;

}
a{
	color: black;

}

a:active, a:hover, a:focus {
	color: #E93F37; 
	text-decoration: none;
}

label {
	font-family: Raleway, sans-serif;
	font-weight: 400;
}

input{
	font-size: 1em;
	font-weight: 300;
	
}

.product-section{
	display: inline;
	font-family: Raleway;
	font-weight: 300;
}

.grid-structure{
	display: flex;
	flex-wrap: wrap; 
}

.column{
	width: 25%; 
	height: 100px; 
	border: 1px solid #000;
}

form{
	display: inline-block;
	padding-right: 2em;
	padding-bottom: 2em;
	padding-top: 2em;

}
.default-holder{
	margin-left: 5rem;
	margin-top: 2rem;
	margin-right: 5rem;
}
.nav-grid{
	display: flex;
	flex-wrap: wrap; 
	width:100%;height:auto;
	position:relative;
	padding-top:0;
	margin-top:0;
}
.search-form{
	display: inline-block;
	padding-right: 2em;
	padding-bottom: 2em;
	padding-top: 2em;
	padding-left: 1em;
}
.basket{
	display:none;
	background-color: white;
	right:2rem;
	position:absolute;
	width:40rem;
	margin-right:2rem;margin-top:2rem;
	box-shadow: 2px 2px 5px 2px #888888;
}
.social-embed{
	border-style: solid;
	border-width: 1px;
	border-color:lightgrey;
	width:40%;
	margin:auto;
	margin-top:2rem;
}
.social-buttons-holder{
	width:40%;
	margin:auto;
	padding-top:1rem;
	padding-left:25%;padding-right:25%;
	flex-wrap:nowrap;
}
.social-buttons{
		width:2rem;height:auto;
		padding-left:20%;
		display:inline;
	}
.products-nav{
	margin-left: 10%;margin-right:10%;
	margin-top: 2rem;
	display: flex;
	flex-wrap: wrap; 
}
.nav-products{
	width:33%;
	height:20em;
}



@media(max-width: 50em){
	.basket{
		width: 50%;
	}
	.nav-button{
		flex: 0 0 100%;
	}
	.logo{
		margin:auto;
	}
	.nav-products{
		flex: 0 0 100%;
	}
	.products-nav{
		margin-left:20%;margin-right:20%;
	}
	.social-embed{
		width:75%;
	}
	.social-buttons-holder{
		padding-left:10%;padding-right:10%;
	}
	.social-buttons{
		padding-left:10%;
	}

}
@media(min-width: 50em){
	.basket{
		width: 25%;
	}

}


.rating{
	color: #E93F37;
	font-size: 2rem;
	background-color: white;
	border: none;
}

.rating:hover, .rating:active, .rating:focus{
	color: white;
	background-color: #E93F37;
	transition: background-color .5s ease-in;
}

.rating:selected{
	color: white;
	background-color: #E93F37;
}

.quantity{
	position: absolute;
	margin-left: 1rem;
	padding-top: 0.5rem;

}

.product-grid{
	position: relative;
	display: block;
	margin: auto; 
	padding-top: 1rem;
	padding-left: 35%;
	padding-right: 25%;

}

.product-description{
	position: relative;
	display: block;
	margin: auto; 
	padding-top: 5rem;
	padding-left: 35%;
	padding-right: 35%;
}

.product-selected{
	display: none;
	padding-left: 10%;
	padding-top: 5%;
	padding-bottom: 5%;
}

.billing-form{
	display: inline-block;
}

.shipping{
	margin-left: 10%;
	margin-top: 5%;
	margin-left: 10%;
}

.summary-text{
	position: absolute;
	margin-left: 1rem;
	padding-top: 2.5rem;
	display: inline-block;
}

.product-img{
	border: none;
}

.product-img:hover, .product-img:focus, .product-img:active{
	outline: 1rem;
	outline-color: #E93F37;
	border-radius: 1rem;
	border-image: 1rem;
	border-width: 1rem;
	border-color: #E93F37;
}

@media only screen and (max-width: 800px){
	.product-selected{
		display: none;
		position: absolute;
		top: 7%;
		left: 35%;
		z-index: 10;
	}

	.selected-img{
		display: none;
	}

	.product-grid{
		padding-left: 10%;
		margin-left: none;
		margin-top: 2rem;
		display: block;

	}

	.product-description{
		padding-left: 10%;
	}

	.quantity{
		position: absolute;
		margin-left: none;
		padding-left: none;
	}
}
