body {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	margin:0;
}

h1, h2, h3{
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}

p{
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
}
.subP{
	margin-left:10%;margin-right:10%;
	margin-top:3em; margin-bottom:3em;
}

li{
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
}

img {
	max-width: 100%;
	height: auto;
	margin:none;
}

.main-button{
	font-size: .9em;
	color: white;
	background-color: #E93F37;
	border-radius: .25em;
	border-style: none;
	padding: .75em;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.main-button:hover, .main-button:focus{
	color: #E93F37;
	background-color: white; 
	border: none;
}

.next{
	position: absolute;
	right: 5rem;
	margin-top: 2rem;
	margin-bottom: 2rem;

}

.option{
	margin-right: 1rem;
	margin-top: 0rem;

}

.nav-button{
	align-self: center;
	color: #E93F37;
	background-color: white;
	border: none;
	font-weight: 400;
	font-size: 1.5em;
	padding: 1em;
	padding-right: 5%;
	padding-left: 5%;
	margin-top:0;
	width:23%;
	display: inline-block;
	position: relative;
	top:0;
/*	margin:auto;*/
}
	


.nav-button:active, .nav-button:hover, .nav-button:focus{
	color: white;
	background-color: #E93F37;
	transition: background-color .5s ease-in;

}
.logo{
	width:4.5rem;height:4.5rem;
	padding:0;
	top:0;
	display:inline-block;
	align-self:center;
}
.checkout-button-l{
	float:right;margin-right:20rem;margin-top:2rem;
}
a{
	color: black;

}

a:active, a:hover, a:focus {
	color: #E93F37; 
	text-decoration: none;
}

label {
	font-family: Raleway, sans-serif;
	font-weight: 400;
}

input{
	font-size: 1em;
	font-weight: 300;
	
}

.product-section{
	display: inline;
	font-family: Raleway;
	font-weight: 300;
}

.grid-structure{
	display: flex;
	flex-wrap: wrap; 
}

.column{
	width: 25%; 
	height: 100px; 
	border: 1px solid #000;
}

form{
	display: inline-block;
	padding-right: 2em;
	padding-bottom: 2em;
	padding-top: 2em;

}
.default-holder{
	margin-left: 5rem;
	margin-top: 2rem;
	margin-right: 5rem;
}
.nav-grid{
	display: flex;
	flex-wrap: wrap; 
	width:100%;height:auto;
	position:relative;
	padding-top:0;
	margin-top:0;
	top:0;
}
.nav-grid-right{
	display: flex;
	flex-wrap: wrap;
	align-self: center;
	padding-top:0;
	margin-top:0;
	padding-right:1em;
	top:0;
	float:right;
}
.search-form{
	display: inline-block;
	padding-right: 2em;
	padding-bottom: 2em;
	padding-top: 0;
	padding-left: 1em;
	padding:1em;
	align-self:center;
}
.basket{
	display:none;
	background-color: white;
	right:2rem;
	position:absolute;
	width:40rem;
	margin-right:2rem;margin-top:2rem;
	box-shadow: 2px 2px 5px 2px #888888;
	z-index:3;
}
.basket-icon{
	width:25px; height:25px;
	padding-top:0;
	align-self: center;
}
.basket-icon:active, .basket-icon:hover, .basket-icon:focus{
	border-style:solid;
	border-width:3px;
	border-color:#E93F37;
}

.social-embed{
	border-style: solid;
	border-width: 1px;
	border-color:lightgrey;
	width:80%;
	margin:auto;
	margin-top:3rem;
}
.twitter-icon{
	padding-left:20%;
	width:2rem;height:2rem;
	padding-top:1rem;
}
.twitter-tweet{
	padding-left:20%;
}
.social-buttons-holder{
	width:40%;
	margin:auto;
	padding-top:1rem;
	padding-left:25%;padding-right:25%;
	flex-wrap:nowrap;
}
.social-buttons{
		width:2rem;height:auto;
		padding-left:20%;
		display:inline;
	}
.products-nav{
	margin-left: 10%;margin-right:10%;
	margin-top: 2rem;
	display: flex;
	flex-wrap: wrap; 
}
.nav-products{
	width:33%;
	height:20%;
	
}
.footer{
	margin-top:2rem;margin-bottom:2rem;padding-left: 30%;
	
}
.social-text{
	display:inline-block;
	padding-left:1rem; padding-right:1rem;
}
.contact-text{
	width:80%;
	display:inline-block;
	padding-left:1rem; padding-right:1rem;

}
.subtotal-text-l{
	text-align: right;margin-right:20rem;
}



@media(max-width: 60em){
	.nav-grid-right{
		margin-right: 10%;
	}
	.search-form{
		margin-right: 4em;
	}
	.basket-icon{
		margin-left:3em;
	}
	.basket{
		width: 50%;
	}
	.nav-button{
		flex: 0 0 100%;
	}
	.logo{
		margin:auto;
	}
	.nav-products{
		flex: 0 0 100%;
	}
	.products-nav{
		margin-left:20%;margin-right:20%;
	}
	.social-embed{
		width:75%;
	}
	.twitter-icon{
		padding-left: 10%;
	}
	.twitter-tweet{
		padding-left: 10%
	}
	.social-buttons-holder{
		padding-left:10%;padding-right:10%;
	}
	.social-buttons{
		padding-left:10%;
	}

	.footer{
		margin-left:7%; margin-right:7%;
		padding-left:2em;padding-right:2em;
	}
	.contact-text{
		width:75%;
	}
}
@media(max-width: 80em){
	.checkout-button-l{
		margin-right:5rem;
	}
	.subtotal-text-l{
		margin-right:7rem;
	}
	.nav-grid{
		width:80%;
	}
}
@media(min-width: 60em){
	.basket{
		width: 25%;
	}
	.nav-grid-right{
		position:absolute;
		right:0;
		top:0.75em;
	}
}


.rating{
	color: #E93F37;
	font-size: 2rem;
	background-color: white;
	border: none;
}

.rating:hover, .rating:active, .rating:focus{
	color: white;
	background-color: #E93F37;
	transition: background-color .5s ease-in;
}

.rating:selected{
	color: white;
	background-color: #E93F37;
}

.quantity{
	position: absolute;
	margin-left: 1rem;
	padding-top: 0.5rem;

}

.product-grid{
	position: relative;
	display: block;
	margin: auto; 
	padding-top: 1rem;
	padding-left: 31%;
	padding-right: 20%;

}

.product-description{
	position: relative;
	display: block;
	margin: auto; 
	padding-top: 1rem;
	padding-left: 33%;
	padding-right: 33%;
}

.product-selected{
	display: none;
	padding-left: 15%;
	padding-top: 5%;
	padding-bottom: 5%;
}

.billing-form{
	display: inline-block;
}

.shipping{
	margin-left: 10%;
	margin-top: 5%;
	margin-left: 10%;
}

.summary-text{
	position: absolute;
	margin-left: 1rem;
	padding-top: 2.5rem;
	display: inline-block;
}

.product-img{
	border: none;
	margin: 1rem;
}

.product-img:hover, .product-img:focus, .product-img:active{
	border-radius: 1rem;
}

.nav-products:hover, .nav-products:focus, .nav-products:active{
	border-radius: 5rem;
}

@media only screen and (max-width: 800px){
	.product-selected{
		display: none;
		position: absolute;
		top: 0.4rem;
		left: 50%;
		z-index: 10;
	}

	.selected-img{
		display: none;
	}

	

	.product-description{
		padding-left: 15%;
	}

	.quantity{
		position: absolute;
		margin-left: none;
		padding-left: none;
	}

	@media only screen and (max-width: 525px){
		.product-grid{
		padding-left: 10%;
		margin-left: none;
		margin-bottom: none;
		margin-top: 2rem;
		display: block;

	}
}
